FoamFile {
    version     2.0;
    format      ascii;
    class       dictionary;
    location    "system";
    object      decomposeParDict;
}


numberOfSubdomains $PROCESSORS;
method simple;

simpleCoeffs {
	n	($PROCESSORS 1 1);
	delta	0.001;
}
